<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="WindowsAuthentication"
         connectionString="Data Source=DESKTOP-KL79R5O;Initial Catalog=knihovna;Integrated Security=True;"
         providerName="System.Data.SqlClient" />

		<add name="SqlAuthentication"
         connectionString="Server=NAZEV_SERVERU;Database=JMENO_DATABAZE;User Id=UZIVATEL;Password=HESLO;"
         providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
